services:
  app:
    image: node:20-alpine
    volumes:
      - .:/app
    working_dir: /app
    ports:
      - "5173:5173"
    command: sh -c "npm install && npm run dev -- --host"
    environment:
      - WATCHPACK_POLLING=true # Necessario per far sentire le modifiche ai file su alcuni sistemi
      